# Node
node_modules/
npm-debug.log

# OS
.env
.DS_Store
Thumbs.db

# Build/zip artifacts
dist/
build/
*.zip


# amplify
.amplify/
amplify_outputs*
amplifyconfiguration*
amplify/#current-cloud-backend/
amplify/team-provider-info.json
